<head>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="https://d3js.org/d3-collection.v1.min.js"></script>
      <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
      <script src="https://d3js.org/d3-dsv.v1.min.js"></script>
      <script src="https://d3js.org/d3-request.v1.min.js"></script>
</head>
<body>
<h1>Dashboard</h1>
<div id="tester" style="width:600px;height:250px;"></div>
<script>
function updateData() {
   var url = '{{ url_for('get_data') }}';
   d3.json(url, function(error, data) {
      layout = { margin: { t: 0 } };
      TESTER = document.getElementById('tester');
      
      Plotly.newPlot(TESTER, [data], layout);

      TESTER.on('plotly_click', function(data){
         form = document.getElementById('correction');
         form["x"].value=data.points[0].x;
         form["y"].value=data.points[0].y;
         <!--console.log(data.points[0].x, data.points[0].y);-->

      });

});
}

updateData();

setInterval(function() {
                updateData();
        }, 5000); 
</script>

<form id="correction" method="post" action="{{ url_for('put_data') }}">
    <input name="x">
    <input name="y">
    <input type="submit" value="send"/>
</form>


</body>
